/* 구글 폰트 - 연성, 나눔 펜 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

:root {
  /* font */
  --nanum-font: "Nanum Pen Script";
  --yeon-sung-font: "Yeon Sung";

  /* color */
  --border-color: #e2e2e2;
  --main-gray-color: #ececec;
  --main-background-color: #f6f6f6;

  --emotion-img-1: #64c954;
  --emotion-img-2: #9dd772;
  --emotion-img-3: #fdce17;
  --emotion-img-4: #fd8446;
  --emotion-img-5: #fd565f;
}

body {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--nanum-font);
  min-height: 100vh;
  margin: 0;
}

/* desktop */
@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

/* mobile */
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding: 0 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;

  /* 글자가 한줄로 나오도록 */
  white-space: nowrap;
  font-family: var(--nanum-font);
}

.MyButton_default {
  background-color: var(--main-gray-color);
  color: black;
}
.MyButton_positive {
  background-color: var(--emotion-img-1);
  color: white;
}
.MyButton_negative {
  background-color: var(--emotion-img-5);
  color: white;
}

/* HEADER */
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: var(--nanum-font);
}

/* DiaryList */
.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-gray-color);

  padding: 10px 20px;

  cursor: pointer;
  font-family: var(--nanum-font);
  font-size: 18px;
}

/* DiaryItem */
.DiaryItem {
  padding: 15px 0;

  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: var(--emotion-img-1);
}
.DiaryItem .emotion_img_wrapper_2 {
  background-color: var(--emotion-img-2);
}
.DiaryItem .emotion_img_wrapper_3 {
  background-color: var(--emotion-img-3);
}
.DiaryItem .emotion_img_wrapper_4 {
  background-color: var(--emotion-img-4);
}
.DiaryItem .emotion_img_wrapper_5 {
  background-color: var(--emotion-img-5);
}

.DiaryItem .emotion_img_wrapper img {
  width: 50%;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */

.DiaryEditor {
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input-date {
  border: none;
  border-radius: 5px;
  background-color: var(--main-gray-color);

  padding: 10px 20px;

  cursor: pointer;
  font-family: var(--nanum-font);
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto); /*(그리드의 개수, 그리드 사이즈) */
  gap: 2%;
  padding: 0;
}

.DiaryEditor textarea {
  font-family: var(--nanum-font);
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  /* 가로 사이즈 고정시키기 */

  border: none;
  border-radius: 5px;
  background-color: var(--main-gray-color);
  padding: 20px;
}

.DiaryEditor .control-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EmotionItem */

.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 18px;
}

.EmotionItem_off {
  background-color: var(--main-gray-color);
}

.EmotionItem_on_1 {
  background-color: var(--emotion-img-1);
  color: white;
}

.EmotionItem_on_2 {
  background-color: var(--emotion-img-2);
  color: white;
}

.EmotionItem_on_3 {
  background-color: var(--emotion-img-3);
  color: white;
}

.EmotionItem_on_4 {
  background-color: var(--emotion-img-4);
  color: white;
}

.EmotionItem_on_5 {
  background-color: var(--emotion-img-5);
  color: white;
}
